#container{
    background-color: #393646;
    position: relative;
    width: 70px;
    height: 30px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    margin: 0px auto;
    margin-top: 5px;    
    border-radius: 25px;
    cursor: pointer;

    }

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transform: scale(.7);
    border-radius: 25px;
    background-color: linear-gradient(145deg, #d8d8d8, #ffffff);
    box-shadow: 3px 3px 8px #6D5D6E,
               -3px -3px 8px #6D5D6E;
}

#container.active .toggle{
    left:40px;
}
body.active{
    background-color: black;
    color: #F8F6F4;
    transition: background-color, 0.7 ms;

}

body.active .img1{
    filter: invert(1);
}